<a href="https://colab.research.google.com/github/lucasinanaj/DataManagement/blob/main/Project_DataMan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importazione librerie

In [ ]:
pip install cdsapi

Requirement already satisfied: cdsapi in ./opt/anaconda3/lib/python3.9/site-packages (0.5.1)
Requirement already satisfied: requests>=2.5.0 in ./opt/anaconda3/lib/python3.9/site-packages (from cdsapi) (2.27.1)
Requirement already satisfied: tqdm in ./opt/anaconda3/lib/python3.9/site-packages (from cdsapi) (4.64.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=2.5.0->cdsapi) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=2.5.0->cdsapi) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=2.5.0->cdsapi) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests>=2.5.0->cdsapi) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./opt/anaconda3/lib/python3.9/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in ./opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import io
import pandas as pd
from pandas import errors
import numpy as np
import cdsapi
import yaml
import requests
import zipfile
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="SinanajBarbera")

In [ ]:
import mysql.connector
from mysql.connector import Error

In [ ]:
import os
os.chdir('/content/drive/MyDrive/DataManagement')

#**Dichiarazione funzioni**

In [ ]:
def float_to_datetime(df, columns):
    for col in columns:
      for i in df.index:
        try:
          df[col].loc[df.index[i]] = pd.to_datetime(df[col].loc[df.index[i]],  format = '%Y%m%d', errors = 'raise')
        except ValueError:
            year = df[col].loc[df.index[i]] // 10000
            df[col].loc[df.index[i]] = pd.to_datetime(str(int(year)) + '0101', format='%Y%m%d')
    return df

def count_NaT(df, col):
    return df[col].isna().sum()

def findState(coo):
  try:
    return geolocator.reverse(coo, language = "en").address.rsplit(',', 1)[-1].strip()
  except:
    return 'error'

def convert_obj_to_str(df):
    for col in df.columns:
        if print(df[col].dtype) == 'object':
            df[col] = df[col].astype(str)
    return df

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
        return connection
    except Error as err:
        print(f"Error: '{err}'")

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
        return cursor
    except Error as err:
        print(f"Error: '{err}'")


def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

# **1) Data acquisition**

It is mandatory to identify at least two data sources, different from each other, and for at least one of the two sources either scraping techniques or the use of APIs must be used.

In [ ]:
#Chiave Vale
#c = cdsapi.Client(url='https://cds.climate.copernicus.eu/api/v2', key='168804:a752d855-4e65-48e2-bb37-aed73686851a')

In [ ]:
#Chiave Luca
c = cdsapi.Client(url='https://cds.climate.copernicus.eu/api/v2', key='168804:a752d855-4e65-48e2-bb37-aed73686851a')

In [ ]:
fileZip = c.retrieve(
    'insitu-glaciers-elevation-mass',
    {
        'product_type': [
            'elevation_change', 'mass_balance',
        ],
        'file_version': '20200824',
        'variable': 'all',
        'format': 'zip',
    },
     'download.zip')

In [ ]:
massURL = fileZip.location

In [ ]:
massResponse = requests.get(massURL)
open("massZip", "wb").write(massResponse.content)

In [ ]:
with zipfile.ZipFile('/content/drive/MyDrive/DataManagement/massZip', 'r') as zip_ref:
    zip_ref.extractall('/content/drive/MyDrive/DataManagement/')

In [ ]:
df_mass = pd.read_csv("_C3S_MASS_BALANCE_DATA_20200824.csv", encoding= 'utf-8')
df_elevation = pd.read_csv("_C3S_ELEVATION_CHANGE_DATA_20200824.csv", encoding= 'utf-8')
df_latLong = pd.read_excel("LatLong.xlsx")
df_temp = pd.read_csv("GlobalLandTemperatures_GlobalLandTemperaturesByMajorCity.csv", encoding = 'utf-8')

# **2) Data profiling/data quality**

It is necessary to evaluate either the quality of the data obtained after the acquisition phase or the quality of the data before and after the integration/enrichment activity.
It is up to the group to choose the most appropriate dimensions and metrics for measuring data quality


Accuracy ->	Is the information correct in every detail?

Completeness ->	How comprehensive is the information?

Reliability	-> Does the information contradict other trusted resources?

Relevance	-> Do you really need this information?

Timeliness ->	How up- to-date is information? Can it be used for real-time reporting?

In [ ]:
#Explore data types
print("Mass dataframe types:", '\n', df_mass.dtypes, '\n')
print("Elevation dataframe types:", '\n', df_elevation.dtypes, '\n')
print("Latitude and Longitude dataframe types:", '\n', df_latLong.dtypes, '\n')
print("Temperature dataframe types:", '\n', df_temp.dtypes, '\n')

## Mass and Elevation

In [ ]:
df_mass = float_to_datetime(df_mass, ["SURVEY_DATE", "REFERENCE_DATE"])
df_elevation = float_to_datetime(df_elevation, ["SURVEY_DATE", "REFERENCE_DATE"])

In [ ]:
print("df_elevation Nat values: \n", count_NaT(df_elevation,["SURVEY_DATE", "REFERENCE_DATE"]))
print("df_mass Nat values: \n", count_NaT(df_mass,["SURVEY_DATE", "REFERENCE_DATE"]))

In [ ]:
#Explore data types
print("Mass dataframe types:", '\n', df_mass.dtypes)
print("Elevation dataframe types:", '\n',df_elevation.dtypes)
print("Latitude and Longitude dataframe types:", '\n',df_latLong.dtypes)

## Latitude and Longitude

In [ ]:
df_latLong['WGMS_ID'] = df_latLong['WGMS_ID'].astype(int)

In [ ]:
display(df_latLong)

In [ ]:
df_latLong['LATLONG'] = df_latLong['LATITUDE'].astype(str) + ',' + df_latLong['LONGITUDE'].astype(str)

## Temperature

In [ ]:
df_temp['date'] = pd.to_datetime(df_temp['dt'],format = '%Y-%m-%d', errors = 'coerce')

In [ ]:
df_temp['AverageTemperature'].isnull().sum()

In [ ]:
df_temp.dropna(inplace = True)

In [ ]:
df_temp['Temp_ID'] = df_temp.reset_index().index

# 3)Data Integration

##Adding a new coloumn 'State' in the latLong dataframe

In [ ]:
df_latLong['STATE'] = df_latLong['LATLONG'].apply(findState)

In [ ]:
df_mass['AREA_CALCULATED'] = np.where(df_mass['AREA'].isnull() , True, False)
df_elevation['AREA_CALCULATED'] = np.where(df_elevation['AREA_SURVEY_YEAR'].isnull() , True, False)

In [ ]:
#df_latLong.to_csv("/content/drive/MyDrive/DataManagement/df_latLong.csv", index = False)

In [ ]:
df_mass.to_csv("/content/drive/MyDrive/DataManagement/df_mass.csv", index = False)

In [ ]:
df_elevation.to_csv("/content/drive/MyDrive/DataManagement/df_elevation.csv", index = False)

##Na Integration has been done through an R process [saved here](https://drive.google.com/file/d/1mf1sZXDkrb6_muGGb4ij_6X8sNnwD6Dt/view?usp=share_link)

In [ ]:
df_mass = pd.read_csv("df_mass_enriched.csv", encoding= 'utf-8', index_col = 0)
df_elevation = pd.read_csv("df_elevation_enriched.csv", encoding= 'utf-8', index_col = 0)
df_glaciers = pd.read_csv("df_latLong.csv", encoding= 'utf-8')

## Adding Area_change column in df_mass

In [ ]:
df_mass_group = df_mass.groupby("WGMS_ID")

In [ ]:
for name, group in df_mass_group:
  partial_index = 0
  for index, row1 in group.iterrows():
    partial_index+=1
    for index2, row2 in group[partial_index:].iterrows():
      if(index == 1):
          row1['AREA_CHANGE'] =  0
      else:
          id1 = row1[0]
          id2 = row2[0]
          df_mass.at[id2,"AREA_CHANGE"] = row2["AREA"] - row1["AREA"]

## Concatenation of the measurament dataframe, column renaming

In [ ]:
df_elevation['Source'] = 'E'
df_mass['Source'] = 'M'

In [ ]:
df_mass.rename(columns={'ANNUAL_BALANCE_UNC': 'MEASUREMENT_UNCERTAINTY', 'ANNUAL_BALANCE': 'MEASUREMENT'}, inplace=True)
df_elevation.rename(columns={'ELEVATION_CHANGE_UNC': 'MEASUREMENT_UNCERTAINTY', 'ELEVATION_CHANGE': 'MEASUREMENT', 'AREA_SURVEY_YEAR': 'AREA'}, inplace=True)

In [ ]:
df_measurament = pd.concat([df_elevation, df_mass])

In [ ]:
column = df_measurament['SURVEY_ID']
if column.nunique() == len(column):
    print("All values in the column are unique")
else:
    print("There are duplicate values in the column")

In [ ]:
df_measurament['SURVEY_ID'] = df_measurament.reset_index().index

In [ ]:
df_measurament

In [ ]:
df_glaciers

,WGMS_ID,POLITICAL_UNIT,NAME,LATITUDE,LONGITUDE,GLIMS_ID,RGI60_ID,RGI50_ID,WGI_ID,GEN_LOCATION,SPEC_LOCATION,GLACIER_REGION_CODE,GLACIER_SUBREGION_CODE,PARENT_GLACIER,LATLONG,STATE
0,0,CA,WHITE,79.514600,-90.876970,G269123E79515N,RGI60-03.04539,NaN,CA2R014E0014,CDN ARCTIC ARCH,AXEL HEIBERG IS,ACN,ACN-02,NaN,"79.5146,-90.87697",Canada
1,1,CA,BABY,79.441582,-90.957779,NaN,RGI60-03.00840,RGI50-03.00840,NaN,NWT CANADA,AXEL HEIBERG,ACN,ACN-02,NaN,"79.4415817260742,-90.957778930664",Canada
2,3,CA,NADAHINI,59.730000,-136.679993,NaN,NaN,NaN,NaN,BRIT.COLUMBIA,DATLASAKA RANGE,ALA,ALA-06,NaN,"59.7299995422363,-136.679992675781",Canada
3,5,CA,NEW MOON,53.919998,-127.769997,NaN,NaN,RGI50-02.11715,NaN,HAZELTON MTNS.,BULKLEY RANGES,WNA,WNA-02,NaN,"53.9199981689453,-127.769996643066",Canada
4,7,CA,ATHABASCA,52.195000,-117.250000,NaN,NaN,NaN,NaN,ROCKY MOUNTAINS,COLUMBIA ICEF.,WNA,WNA-03,6824.0,"52.1949996948242,-117.25",Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5264,39080,CL,UNNAMED 39080,-46.432899,-72.979202,G287021E46433S,RGI60-17.08700,NaN,NaN,NaN,NaN,SAN,SAN-01,NaN,"-46.4328994750976,-72.9792022705078",Chile
5265,41314,CL,UNNAMED 41314,-42.289001,-72.155098,G287845E42289S,RGI60-17.11893,NaN,NaN,NaN,NaN,SAN,SAN-02,NaN,"-42.2890014648437,-72.1550979614257",Chile
5266,43168,CL,MOCHO,-46.722000,-73.292999,G286707E46722S,RGI60-17.15838,NaN,NaN,NaN,NaN,SAN,SAN-01,NaN,"-46.7220001220703,-73.2929992675781",Chile
5267,43176,CL,UNNAMED 43176,-46.917999,-73.273003,G286727E46918S,RGI60-17.15850,NaN,NaN,NaN,NaN,SAN,SAN-01,NaN,"-46.9179992675781,-73.2730026245117",Chile
5268,74545,NP,RGI60-15.04497,28.557442,84.009337,G084014E28561N,RGI60-15.04497,NaN,NaN,HIMALAYAS,ANNAPURNA,ASE,ASE-01,NaN,"28.55744166,84.00933691",Nepal

In [ ]:
df_temp

# Data Storing

In [ ]:
from sqlalchemy import create_engine

In [ ]:
#df_temp = pd.read_csv("/Users/lucasinanaj/Downloads/df_temp.csv")

In [ ]:
#df_measurament = pd.read_csv("/Users/lucasinanaj/Downloads/df_measurament.csv")

In [ ]:
#df_glaciers = pd.read_csv("/Users/lucasinanaj/Downloads/df_glaciers.csv")

##Connection to Mysql and cration of Data Management database

In [ ]:
connection = create_server_connection("localhost", "root", pw)
print(connection)

MySQL Database connection successful
<mysql.connector.connection.MySQLConnection object at 0x7feb59169a30>

In [ ]:
create_database_query = "CREATE DATABASE database_dataManagement;"
cursor = create_database(connection, create_database_query)

Database created successfully

In [ ]:
cursor.execute("USE database_dataManagement;")

In [ ]:
cursor.execute("DROP TABLE Measurement;")

## Tables cration

In [ ]:
cursor.execute("CREATE TABLE Measurement (SURVEY_ID int PRIMARY KEY,AREA_CHANGE float,MEASUREMENT_UNCERTAINTY float,AREA float,PU VARCHAR(255),NAME VARCHAR(255),WGMS_ID int,SURVEY_DATE DATETIME,REFERENCE_DATE DATETIME,MEASUREMENT int,INVESTIGATOR VARCHAR(255),SPONS_AGENCY VARCHAR(255),REFERENCE VARCHAR(255),REMARKS VARCHAR(10000),AREA_CALCULATED bool,Source VARCHAR(255));")

In [ ]:
cursor.execute("CREATE TABLE Glaciers (WGMS_ID INT PRIMARY KEY, POLITICAL_UNIT VARCHAR(255), NAME VARCHAR(255), LATITUDE FLOAT, LONGITUDE FLOAT, GLIMS_ID VARCHAR(255), RGI60_ID VARCHAR(255), RGI50_ID VARCHAR(255), WGI_ID VARCHAR(255), GEN_LOCATION VARCHAR(255), SPEC_LOCATION VARCHAR(255), GLACIER_REGION_CODE VARCHAR(255), GLACIER_SUBREGION_CODE VARCHAR(255), PARENT_GLACIER FLOAT, LATLONG VARCHAR(255), STATE VARCHAR(255))")

In [ ]:
cursor.execute("CREATE TABLE Temperatures (Temp_ID INT PRIMARY KEY, dt VARCHAR(255), AverageTemperature FLOAT, AverageTemperatureUncertainty FLOAT, City VARCHAR(255), Country VARCHAR(255), Latitude VARCHAR(255), Longitude VARCHAR(255), date DATETIME);")

In [ ]:
engine = create_engine("mysql+mysqlconnector://root:ciao1234@localhost/database_dataManagement")

## Table population

In [ ]:
dt = df_temp.dt.to_list()
Temp_ID = df_temp.Temp_ID.to_list()
AverageTemperature = df_temp.AverageTemperature.to_list()
AverageTemperatureUncertainty = df_temp.AverageTemperatureUncertainty.to_list()
City = df_temp.City.to_list()
Country = df_temp.Country.to_list()
Latitude = df_temp.Latitude.to_list()
Longitude = df_temp.Longitude.to_list()
date = df_temp.date.to_list()
size=df_temp.dt.size

for i in range(size):
    sql = "INSERT INTO Temperatures (Temp_ID,dt, AverageTemperature, AverageTemperatureUncertainty, City, Country, Latitude, Longitude, date) VALUES (%s,%s, %s,%s, %s,%s, %s, %s, %s)"
    val = (Temp_ID[i], dt[i],AverageTemperature[i], AverageTemperatureUncertainty[i], City[i], Country[i], Latitude[i], Longitude[i] , date[i])
    cursor.execute(sql, val)

In [ ]:
wgms_id = df_glaciers.WGMS_ID.to_list()
political_unit = df_glaciers.POLITICAL_UNIT.to_list()
name = df_glaciers.NAME.to_list()
latitude = df_glaciers.LATITUDE.to_list()
longitude = df_glaciers.LONGITUDE.to_list()
glims_id = df_glaciers.GLIMS_ID.to_list()
rgi60_id = df_glaciers.RGI60_ID.to_list()
rgi50_id = df_glaciers.RGI50_ID.to_list()
wgi_id = df_glaciers.WGI_ID.to_list()
gen_location = df_glaciers.GEN_LOCATION.to_list()
spec_location = df_glaciers.SPEC_LOCATION.to_list()
glacier_region_code = df_glaciers.GLACIER_REGION_CODE.to_list()
glacier_subregion_code = df_glaciers.GLACIER_SUBREGION_CODE.to_list()
parent_glacier = df_glaciers.PARENT_GLACIER.to_list()
latlong = df_glaciers.LATLONG.to_list()
state = df_glaciers.STATE.to_list()

for i in range(size):
    sql = "INSERT INTO Glaciers (wgms_id, political_unit, name, latitude, longitude, glims_id, rgi60_id, rgi50_id, wgi_id, gen_location, spec_location, glacier_region_code, glacier_subregion_code, parent_glacier, latlong, state) values (%s,%s, %s,%s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
    val = (wgms_id[i], political_unit[i], name[i], latitude[i], longitude[i], glims_id[i], rgi60_id[i], rgi50_id[i], wgi_id[i], gen_location[i], spec_location[i], glacier_region_code[i], glacier_subregion_code[i], parent_glacier[i], latlong[i], state[i])
    cursor.execute(sql, val)

In [ ]:
wgms_id = df_measurament.WGMS_ID.to_list()
name = df_measurament.NAME.to_list()
pu = df_measurament.PU.to_list()
survey_id = df_measurament.SURVEY_ID.to_list()
survey_date = df_measurament.SURVEY_DATE.to_list()
area = df_measurament.AREA.to_list()
area_change = df_measurament.AREA_CHANGE.to_list()
area_calculated = df_measurament.AREA_CALCULATED.to_list()
reference_date = df_measurament.REFERENCE_DATE.to_list()
measurement = df_measurament.MEASUREMENT.to_list()
measurement_uncertainty = df_measurament.MEASUREMENT_UNCERTAINTY.to_list()
investigator = df_measurament.INVESTIGATOR.to_list()
spons_agency = df_measurament.SPONS_AGENCY.to_list()
reference = df_measurament.REFERENCE.to_list()
remarks = df_measurament.REMARKS.to_list()
source = df_measurament.Source.to_list()
size = df_measurament.WGMS_ID.size

for i in range(size):
    sql = "INSERT INTO Measurement (wgms_id, name, pu, survey_id, survey_date, area, area_change, area_calculated, reference_date, measurement, measurement_uncertainty, investigator,spons_agency, reference, remarks, source) VALUES (%s, %s,%s, %s,%s, %s, %s, %s,%s, %s,%s, %s,%s, %s, %s, %s)"
    val = (wgms_id[i], name[i], pu[i], survey_id[i], survey_date[i], area[i], area_change[i], area_calculated[i], reference_date[i], measurement[i], measurement_uncertainty[i], investigator[i],spons_agency[i], reference[i], remarks[i], source[i])
    cursor.execute(sql, val)

#Query

In [ ]:
query1 = 'SELECT g.NAME, AREA, MEASUREMENT,YEAR(SURVEY_DATE), INVESTIGATOR, SPONS_AGENCY, POLITICAL_UNIT, LATITUDE, LONGITUDE FROM (Measurement AS m JOIN Glaciers AS g ON m.wgms_id = g.WGMS_ID) WHERE g.Name = "CARESER"'
cursor.execute(query1)

res = cursor.fetchall()

In [ ]:
table_res = pd.DataFrame(data = res)

In [ ]:
table_res

In [ ]:
query2 = 'SELECT  g.name, g.state, AVG(t.AverageTemperature), YEAR(T.date), YEAR(m.SURVEY_DATE)  FROM ((Measurement as m JOIN Glaciers as g ON m.wgms_id = g.WGMS_ID ) JOIN Temperatures as t ON g.STATE = t.Country) WHERE g.state = "NORWAY" GROUP BY YEAR(t.date), g.NAME ORDER BY YEAR(t.date);

In [ ]:
cursor.execute(query2)

res2 = cursor.fetchall()
table_res2 = pd.DataFrame(data = res2)